{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}{% trans "Admin Workspace" %}{% endblock %}

{% comment %}
{% block subnav %}
<li><a href="{% url "actstream_object_feed" content_type_id=ctype.pk  object_id=actor.pk %}">RSS</a></li>
<li><a href="{% url "actstream_object_feed_atom" content_type_id=ctype.pk  object_id=actor.pk %}">ATOM</a></li>
{% endblock %}
{% endcomment %}

{% block body_outer %}

<style>
        body{
            background-color: #fff;
        }
        .container
        {
            width: 100%;
        }
        .sidebar {
        position: fixed;
        top: 84px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #384450;
        border-right: 1px solid #eee;
    }
    .sidebar ul li a {
        color: #fff;
        border-bottom: 1px solid #495a67;
    }
    .sidebar ul li a:hover {
        background-color: #283139;
    }
    .sidebar ul li a i{
        margin-right: 10px;
    }
    .nav-sidebar {
        margin-right: -21px;
        margin-bottom: 20px;
        margin-left: -20px;
    }
    footer
    {
        z-index: 1008;
    }
    .main
    {
        background-color: #fff;
    }
    .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }
    .d-title
    {
        padding-bottom: 30px;
    }
    </style>
    {% if FRONT_END_SETTINGS.attribute_permission %}
        <style>
            .block {
                text-align: center;
                vertical-align: middle;
            }

            .circle {
                background: rgba(0, 72, 156, 0.97);
                border-radius: 200px;
                color: white;
                height: 100px;
                font-weight: bold;
                width: 100px;
                display: table;
                margin: 20px auto;
            }

            .circle p {
                vertical-align: middle;
                display: table-cell;
            }
        </style>
    {% endif %}

    <div class="row" ng-app="workspaceApp" ng-controller="AdminLayerController">

        <div class="col-sm-2 col-xs-1 col-md-2 workspace-sidebar">
                    
             
             
                     <ul class="nav nav-sidebar">
                             <li role="presentation" class="active"><a href="{% url "admin-workspace-layer" %}"><i class="fa fa-clone" aria-hidden="true"></i><span>{% trans "Layers" %}</span></a></li>
                             <li role="presentation"><a href="{% url "admin-workspace-map" %}"><i class="fa fa-map" aria-hidden="true"></i><span>{% trans "Maps" %}</span></a></li>
                             <li role="presentation"><a href="{% url "admin-workspace-document" %}"><i class="fa fa-file" aria-hidden="true"></i><span>{% trans "Documents" %}</span></a></li>
                             <li role="presentation"><a href="{% url "admin-workspace-user-list" %}" ><i class="fa fa-users" aria-hidden="true"></i><span>{% trans "User List" %}</span></a></li>
                             <li role="presentation"><a href="{% url "create-user" %}" ><i class="fa fa-plus-circle" aria-hidden="true"></i><span>{% trans "Create User" %}</span></a></li>
                           </ul>
             
             
                   </div>



                   <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1 col-md-10 col-md-offset-2 main">
                <h1 class="d-title" style="margin: 0">{% trans "Admin Workspace" %}</h1>

                <!--MODAL--jahangir--->
                <!--this modal is used for delete layer from user approval request list-->
                <!--this modal will be popped when 'Delete Layer' button is clicked-->
                <!--in layer user approval request list-->

                <div class="modal fade" id="_delete_layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width:500px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center" id="myModalLabel">{% trans "Delete Layer" %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" ng-controller="AdminLayerController">
                                    <h5> Are you sure you want to Delete this layer ? </h5>

                                </div>
                            </div>
                            <div class="alert hidden" id="bulk_perms_message">
                                <p class="message">}</p>
                                <p class="extra_content"></p>
                            </div>
                            <form method="post" id="Layer_Del" action="">

                                <!--<form id=""  method="post"  action="{% url "layer-delete" 1 %}">-->
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                    <button type="submit" class="btn btn-primary"  ng-click="deleteDraftLayer()">{% trans "Yes" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--END MODAL-->

                <div class="gd-content">
                        
                                <div class="row">
                                  <div class="col-md-12">
                                      
                                      
                                      <div id="viewuserlist"></div>
                                      {% if FRONT_END_SETTINGS.attribute_permission %}
                                          <div class="container">
                                              <div class="row">
                                                  <div class="col-md-5 block">
                                                      <div class="circle pull-right">
                                                          <p>{{ total_layer }} Layers</p>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-2 block">
                                                      <div class="circle">
                                                          <p>{% widthratio total_layer_size 1024 1 %} MB</p>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-5 block">
                                                      <div class="circle pull-left">
                                                          <p>1 Archived</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      {% endif %}
                    
                                      <div id="viewuserlist_none">
                                            <ul class="nav nav-tabs">
                                              <li class="active" ng-click="userApprovalRequestList()"><a href="#user-approval-request" data-toggle="tab">{% trans "User Approval Request" %}</a></li>
                                              <li ng-click="approvedList()"><a href="#approved" id="Approved_list_layers_admin" data-toggle="tab">{% trans "Approved" %}</a></li>
                                              <li ng-click="userDraftsList()"><a href="#user-drafts" id="Admin_userdraft" data-toggle="tab">{% trans "User Drafts" %}</a></li>
                                              <li ng-click="deniedList()"><a href="#denied-layers" id="Admin_dined_list" data-toggle="tab">{% trans "Denied Layers" %}</a></li>
                                            </ul>

                                            <div class="col-md-4">
                                                <input class="form-control mr-sm-2" type="search" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-model="searchString"  ng-change="backendSearch()" placeholder="Search" aria-label="Search">
                                            </div>
                                            <br><br><br>

                                        <div class="tab-content">
                                          <article id="user-approval-request" class="tab-pane active">
                                            <ul class="no-style-list">
                                                <a class="btn btn-gd-primary" id="approve-all-button" style="margin-bottom: 10px" ng-disabled="selectedItems.length==0" ng-click="approveSelectedItems()" >{% trans "Approve All" %}</a>
                                                
                                                <div class="table-responsive">
                                                <table class="table table-hover" style="background:#ffffff;">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <input type="checkbox" value="" ng-checked="checkAll"  ng-click="toggleAll($event)">
                                                            </th>
                                                            <th>Serial No</th>
                                                            <th>Layer Title</th>
                                                            <th>Organization</th>
                                                            <th>Tried</th>
                                                            <th>Who Requested</th>
                                                            <th>Date of Request</th>
                                                            <th>Approve/Deny Layer</th>
                                                            <!--<th>Denied Layer</th>-->
                                                        </tr>
                                                    </thead>

                                                    <tbody ng-repeat="i in items">
                                                        <th>
                                                            <input type="checkbox" ng-checked="checkAll" ng-click="toggleSelection($event, i.id)">
                                                        </th>
                                                        <th> [{ counter + $index + 1}] </th>
                                                        <th><a href=[{i.detail_url}]> [{i.title}]</a></th>
                                                        <th> [{i.group}] </th>
                                                        <th>[{i.current_iteration}]</th>
                                                        <th>[{i.owner}]</th>
                                                        <th>[{i.date_updated}]</th>
                                                        <th ng-init="approvalUrl = i.detail_url + '?user_role=manager'">
                                                            <a href = [{approvalUrl}]>
                                                                <button  type="button", class="btn btn-gd-primary">Continue to Approve/Deny</button>
                                                            </a>
                                                        </th>
                                                        <th> <button type="button" class="btn btn-gd-primary" ng-click="deleteLayerModal(i.id)" style="color:#fff;">
                                                            {% trans "Delete Layer" %}</button>
                                                        </th>

                                                    </tbody>

                                                </table>
                                            </div>

                                                <div id="showallAdminDraftlayerspag">
                    
                                                </div>
                                            </ul>
                                          </article>
                                          <article id="approved" class="tab-pane">
                                            <ul class="no-style-list">
                                                    <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Serial No</th>
                                                            <th>Layer Title</th>
                                                            <th>Organization</th>
                                                            <th>Who Requested</th>
                                                            <th>Who Approved</th>
                                                            <th>Approve Date</th>
                                                            <th>Layer Edit</th>
                                                            <th>Layer Delete</th>
                                                            <th>Unpublish Layer</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody ng-repeat="i in items">
                                                        <th> [{ counter + $index + 1}] </th>
                                                        <th><a href=[{i.detail_url}]> [{i.title}]</a></th>
                                                        <th> [{i.group}] </th>
                                                        <th>[{i.owner}]</th>
                                                        <th>[{i.last_auditor}]</th>
                                                        <th>[{i.date_updated}]</th>
                                                        <th ng-init="approvalUrl = i.detail_url">
                                                            <a href = [{approvalUrl}]>
                                                                <button  type="button", class="btn btn-gd-primary">Edit</button>
                                                            </a>
                                                        </th>
                                                        <th> <button type="button" class="btn btn-gd-primary" ng-click="deleteLayerModal(i.id)" style="color:#fff;">
                                                            {% trans "Delete Layer" %}</button>
                                                        </th>
                                                        <th ng-init="approvalUrl = i.detail_url + '?user_role=manager'">
                                                            <a href = [{approvalUrl}]>
                                                                <button  type="button", class="btn btn-gd-primary">Unapprove</button>
                                                            </a>
                                                        </th>

                                                    </tbody>

                                                </table>
                                                <div id="showallAdminDraftlayerspag_panding">
                    
                                                </div>
                                            </ul>
                                          </article>
                                          <article id="user-drafts" class="tab-pane">
                                            <ul class="no-style-list">
                                                    <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Serial No</th>
                                                            <th>Layer Title</th>
                                                            <th>Organization</th>
                                                            <th>User Name</th>
                                                            <th>Layer Creation Date</th>
                                                            <th>Layer Delete</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody ng-repeat="i in items">
                                                        <th> [{ counter + $index + 1}] </th>
                                                        <th><a href=[{i.detail_url}]> [{i.title}]</a></th>
                                                        <th> [{i.group}] </th>
                                                        <th>[{i.owner}]</th>
                                                        <th>[{i.date_created}]</th>
                                                        <th> <button type="button" class="btn btn-gd-primary" ng-click="deleteLayerModal(i.id)" style="color:#fff;">
                                                            {% trans "Delete Layer" %}</button>
                                                        </th>

                                                    </tbody>

                                                </table>
                                                <div id="showallAdminDraftlayerspag_denied">
                    
                                                </div>
                                            </ul>
                                          </article>
                    
                                          <article id="denied-layers" class="tab-pane" style="background:#ffffff;">
                                            <ul class="no-style-list">
                                                    <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Serial No</th>
                                                            <th>Layer Title</th>
                                                            <th>Organization</th>
                                                            <th>Who Requested</th>
                                                            <th>Who Denied</th>
                                                            <th>Denied Date</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody ng-repeat="i in items">
                                                        <th> [{ counter + $index + 1}] </th>
                                                        <th><a href=[{i.detail_url}]> [{i.title}]</a></th>
                                                        <th> [{i.group}] </th>
                                                        <th>[{i.owner}]</th>
                                                        <th>[{i.last_auditor}]</th>
                                                        <th>[{i.date_updated}]</th>

                                                    </tbody>

                                                </table>
                                                <div id="showallAdminDraftlayerspag_active">
                    
                                                </div>
                                            </ul>
                                          </article>
                                        </div>


                                            <div>
                                                <a href="" ng-show="previousUrl" ng-click="previousItems()"> <strong><i class="fa fa-angle-left"></i><span>Previous</span> </strong></a>
                                    &nbsp; &nbsp; &nbsp;
                                                <a href=""  ng-show="nextUrl" ng-click="nextItems()"> <strong> <span>Next</span><i class="fa fa-angle-right"></i> </strong></a>
                                                <br><br><br>
                                            </div>

                                      </div>
                                  </div>
                                </div>
                         
                </div>
              </div>

        
    </div>
{% include "layer_templates/_delete_layer.html" %}
{% endblock %}

{% block extra_script %}
<script>
    window.csrf = "{{ csrf_token }}";
</script>

<script src="{{ STATIC_URL }}Scripts/lib/angular.min.js"></script>
<script src="{{ STATIC_URL }}Scripts/lib/angular-animate.min.js"></script>
<script src="{{ STATIC_URL }}Scripts/lib/angular-cookies.min.js"></script>
<script src="{{ STATIC_URL }}Scripts/lib/angular-sanitize.min.js"></script>

<script src="{{ STATIC_URL }}workspace/js/apps.js"></script>
<script src="{{ STATIC_URL }}workspace/js/services.js"></script>
<script src="{{ STATIC_URL }}workspace/js/admin.controllers.js"></script>
<script src="{{ STATIC_URL }}workspace/js/filters.js"></script>



{% endblock %}


