{% extends 'site_base.html' %}
{% load i18n %}
{% load jsonify %}

{% block title %}{% trans "Member Workspace" %}{% endblock %}

{% comment %}
{% block subnav %}
<link href="{{ STATIC_URL }}lib/css/bootstrap.min.css?v={{ VERSION }}" rel="stylesheet"/>
<li><a href="{% url "actstream_object_feed" content_type_id=ctype.pk  object_id=actor.pk %}">RSS</a></li>
<li><a href="{% url "actstream_object_feed_atom" content_type_id=ctype.pk  object_id=actor.pk %}">ATOM</a></li>

{% endblock %}
{% endcomment %}

{% block body_outer %}

<style>
        body{
            background-color: #fff;
        }
        .container
        {
            width: 100%;
        }
        
    .nav-sidebar {
        margin-right: -21px;
        margin-bottom: 20px;
        margin-left: -20px;
    }
    footer
    {
        z-index: 1008;
    }
    .main
    {
        background-color: #fff;
    }
    .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }
    .d-title
    {
        padding-bottom: 30px;
    }
    </style>

       

        <div class="row" ng-app="workspaceApp" ng-controller="MemberLayerController" >


                <div class="col-sm-2 col-xs-1 col-md-2 workspace-sidebar">
                        <ul class="nav nav-sidebar">
                                <li role="presentation" class="active"><a href="{% url "member-workspace-layer" %}"><i class="fa fa-clone" aria-hidden="true"></i><span>{% trans "Layers" %}</span></a></li>
                                <li role="presentation"><a href="{% url "member-workspace-map" %}"><i class="fa fa-map" aria-hidden="true"></i><span>{% trans "Maps" %}</span></a></li>
                                <li role="presentation"><a href="{% url "member-workspace-document" %}"><i class="fa fa-file" aria-hidden="true"></i><span>{% trans "Documents" %}</span></a></li>
                                </ul>
                </div>

            <div class="col-sm-10 col-sm-offset-2 col-xs-11 col-xs-offset-1 col-md-10 col-md-offset-2 main">
                <h1 class="d-title" style="margin: 0"> {% trans "Member Workspace" %}</h1>

                <!--MODAL--jahangir--->
                <!--this modal is used for delete layer from draft list-->
                <!--this modal will be popped when 'Delete Layer' button is clicked-->
                <!--in layer draft list-->

                <div class="modal fade" id="_delete_layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="width:500px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center" id="myModalLabel">{% trans "Delete Layer" %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" ng-controller="MemberLayerController">
                                    <h5> Are you sure you want to Delete this layer ? </h5>

                                </div>
                            </div>
                            <div class="alert hidden" id="bulk_perms_message">
                                <p class="message">}</p>
                                <p class="extra_content"></p>
                            </div>
                            <form method="post" id="Layer_Del" action="">

                                <!--<form id=""  method="post"  action="{% url "layer-delete" 1 %}">-->
                                {% csrf_token %}
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                    <button type="submit" class="btn btn-primary"  ng-click="deleteDraftLayer()">{% trans "Yes" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--END MODAL-->



                <div class="gd-content">
                    <div class="row">
                        <div class="col-md-12">

                            <ul class="nav nav-tabs">
                                <li class="active" ng-click="layerDraftList()"><a href="#draft"  data-toggle="tab">{% trans "Draft" %}</a></li>
                                <li ng-click="layerPendingList()"><a href="#pending" id="pending_list_layers"
                                       data-toggle="tab">{% trans "Pending" %}</a></li>
                                <li ng-click="layerDeniedList()"><a href="#denied" id="denied_list_layers"  data-toggle="tab">{% trans "Denied" %}</a>
                                </li>
                                <li ng-click="layerActiveList()"><a href="#active" id="active_list_layers"  data-toggle="tab">{% trans "Active" %}</a>
                                </li>
                            </ul>

                            <div class="col-md-4">
                                <input class="form-control mr-sm-2" type="search" ng-model-options="{ allowInvalid: true, debounce: 500 }" ng-model="searchString"  ng-change="backendSearch()" placeholder="Search" aria-label="Search">
                            </div>
                            <br><br><br>

                            <div class="tab-content">



                                <article id="draft" class="tab-pane active">
                                    <ul class="no-style-list">
                                            <div class="table-responsive">
                                        <table class="table table-hover table-responsive" style="background:#ffffff;">
                                            <thead>
                                            <tr>
                                                <th>Serial No</th>
                                                <th>Layer Title</th>
                                                <th>Organization</th>
                                                <th>Layer Creation Date</th>
                                                <th>Message</th>
                                                <th></th>
                                            </tr>
                                            </thead>

                                            <tbody ng-repeat="i in items">

                                                <th> [{ counter + $index + 1}] </th>
                                                <th><a href=[{i.detail_url}]> [{i.title}]</a></th>
                                                <th> [{i.group}] </th>
                                                <th> [{i.date_created}] </th>
                                                <th ng-if="i.metadata_updated" style="color: green;"> [{i.message}] </th>
                                                <th ng-if="i.metadata_updated == false" style="color: indianred;"> [{i.message}] </th>
                                                <th ng-init="approvalUrl = i.detail_url + '?user_role=member'">
                                                    <a href = [{approvalUrl}]>
                                                        <button ng-disabled="!i.metadata_updated" type="button", class="btn btn-gd-primary">Continue for approval</button>
                                                    </a>
                                                </th>
                                                <th> <button type="button" class="btn btn-gd-primary" ng-click="deleteLayerModal(i.id)" style="color:#fff;">
                                                    {% trans "Delete Layer" %}</button>
                                                </th>

                                            </tbody>

                                        </table>
                                        </div>
                                        <div id="showallMemberDraftlayerspag">

                                        </div>
                                    </ul>
                                </article>



                                <article id="pending" class="tab-pane">
                                    <ul class="no-style-list">
                                        <table class="table table-hover" style="background:#ffffff;">
                                            <thead>
                                            <tr>
                                                <th>Serial No</th>
                                                <th>Layer Title</th>
                                                <th>Organization</th>
                                                <th>Request Date</th>
                                                <th>Message</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="i in items ">

                                            <th> [{ counter + $index + 1}] </th>
                                            <!--<th> [{i.title}] </th>-->
                                            <th><a href=[{i.detail_url}]> [{i.title}]</a></th>
                                            <th> [{i.group}] </th>
                                            <th> [{i.date_updated}] </th>
                                            <th ng-if="i.metadata_updated" style="color: green;"> [{i.message}] </th>
                                            <th ng-if="i.metadata_updated == false" style="color: indianred;"> [{i.message}] </th>


                                            </tbody>
                                        </table>
                                        <div id="showallMemberDraftlayerspag_panding">

                                        </div>
                                    </ul>
                                </article>
                                <article id="denied" class="tab-pane">
                                    <ul class="no-style-list">
                                        <table class="table table-hover" style="background:#ffffff;">
                                            <thead>
                                            <tr>
                                                <th>Serial No</th>
                                                <th>Layer Title</th>
                                                <th>Organization</th>
                                                <th>Who Denied</th>
                                                <th>Deny Date</th>
                                                <th>Message</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="i in items ">

                                            <th> [{ counter + $index + 1}] </th>
                                            <th> <a href=[{i.detail_url}]> [{i.title}]</a> </th>
                                            <th> [{i.group}] </th>
                                            <th>[{i.last_auditor}]</th>
                                            <th> [{i.date_updated}] </th>
                                            <th ng-if="i.metadata_updated" style="color: green;"> [{i.message}] </th>
                                            <th ng-if="i.metadata_updated == false" style="color: indianred;"> [{i.message}] </th>
                                            <th ng-init="approvalUrl = i.detail_url + '?user_role=member'">
                                                    <a href = [{approvalUrl}]>
                                                        <button ng-disabled="!i.metadata_updated" type="button", class="btn btn-gd-primary">Edit and push again</button>
                                                    </a>
                                            </th>

                                            </tbody>
                                        </table>
                                        <div id="showallMemberDraftlayerspag_denied">

                                        </div>
                                    </ul>
                                </article>
                                <article id="active" class="tab-pane">
                                    <ul class="no-style-list">
                                        <table class="table table-hover" style="background:#ffffff;">
                                            <thead>
                                            <tr>
                                                <th>Serial No</th>
                                                <th>Layer Title</th>
                                                <th>Organization</th>
                                                <th>Activator</th>
                                                <th>Activation Date</th>
                                                <th>Message</th>
                                                <th>Layer Edit</th>
                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="i in items ">

                                            <th> [{counter + $index + 1}] </th>
                                            <th> <a href=[{i.detail_url}]> [{i.title}] </th>
                                            <th> [{i.group}] </th>
                                            <th> [{i.last_auditor}] </th>
                                            <th> [{i.date_updated}] </th>
                                            <th ng-if="i.metadata_updated" style="color: green;"> [{i.message}] </th>
                                            <th ng-if="i.metadata_updated == false" style="color: indianred;"> [{i.message}] </th>
                                            <th ng-init="approvalUrl = i.detail_url + '?user_role=member'">
                                                    <a href = [{approvalUrl}]>
                                                        <button ng-disabled="!i.metadata_updated" type="button", class="btn btn-gd-primary">Edit</button>
                                                    </a>
                                            </th>

                                            </tbody>
                                        </table>
                                        <div id="showallMemberDraftlayerspag_active">

                                        </div>
                                    </ul>
                                </article>
                            </div>

                                <div>
                                    <a href="" ng-show="previousUrl" ng-click="previousItems()"> <strong><i class="fa fa-angle-left"></i><span>Previous</span> </strong></a>
                                    &nbsp; &nbsp; &nbsp;
                                    <a href=""  ng-show="nextUrl" ng-click="nextItems()"> <strong> <span>Next</span><i class="fa fa-angle-right"></i> </strong></a>
                                    <br><br><br>
                                </div>
                            </div>
                    </div>
                </div>


            </div>
              </div>





{% endblock %}

{% block extra_script %}
{{ block.super }}
<script>

$(function () {
    $("#follow_button, #unfollow_button").click(function () {
        $.post($(this).attr("href"), {});
        $(this).parent().find("#follow_button, #unfollow_button").toggle();
        return false
    });
});
</script>
<script src="{{ STATIC_URL }}Scripts/lib/angular-animate.min.js"></script>
<script src="{{ STATIC_URL }}workspace/js/apps.js"></script>
<script src="{{ STATIC_URL }}workspace/js/controllers.js"></script>
<script src="{{ STATIC_URL }}workspace/js/filters.js"></script>
<script src="{{ STATIC_URL }}workspace/js/services.js"></script>

{% endblock %}
